main {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(216, 207, 203, 0.781), rgb(136, 35, 136), rgb(74, 74, 161));
    padding-top: 10em;
}

.t-principal {
    color: #FFFFFF;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 1.5em auto;
}

.sobre-mim {
    margin: 2em 3em 4em;
    text-align: center;
}

.sobre-mim p {
    font-size: 1.5em;
    text-decoration: none;
    padding: 0.2em 0;
}

.sobre-mim strong {
    font-weight: bolder;
}

.sobre-mim a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: 400ms;
}

.sobre-mim a:hover {
    color: rgb(206, 66, 11);
    text-decoration: underline;
}

.cursos ul {
    text-align: center;
    margin: 0 0 2em;
}

.cursos li {
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: bold;
}

.cursos li:before {
    content: "✪";
    padding: 0 0.2em;
    font-weight: bold;
}

.imagens {
    margin: 0 5em;
}

.linguagens {
    display: inline-block;
    margin: 2em 1.3em;
    width: 420px;
    height: 230px;
    border-radius: 3em;
    transition: 400ms;
}

.linguagens:hover {
    width: 440px;
    height: 245px;
    opacity: 0.7;
    box-shadow: 12px 10px 15px #000000;
    cursor: pointer;
}

.localizacao {
    text-align: center;
    padding-bottom: 2em;
}

.mapa {
    width: 97%;
    margin: 0 auto;
}

.video {
	width: 560px;
	margin: 0 auto;
    padding-bottom: 2em;
}